.Side {
  position: sticky;
  top: 0;
}

.Side-content {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 3 / 2);
  /* padding: calc(var(--spacing) / 2); */
  padding: var(--spacing);
}

.Side-control {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 3 / 4);
}
